<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> 현재 Job 목록 받아오기 </h1>

        <table>
            <tr>
                <th>NumOfAllJobs</th>
                <th>NumOfGroups</th>
                <th>NumOfRunningJobs</th>
            </tr>
            <tr>
                <td th:text="${allJobs.numOfAllJobs}"></td>
                <td th:text="${allJobs.numOfGroups}"></td>
                <td th:text="${allJobs.numOfRunningJobs}"></td>
            </tr>
            <tr>
                <th>jobName</th> <th>groupName</th> <th>jobStatus</th>
                <th>scheduleTime</th> <th>lastFiredTime</th> <th>nextFireTime</th>
            </tr>
            <tr th:each="job : ${allJobs.jobs}">
                <td th:text="${job.jobName}"></td> <td th:text="${job.groupName}"></td> <td th:text="${job.jobStatus}"></td>
                <td th:text="${job.scheduleTime}"></td>  <td th:text="${job.lastFiredTime}"></td> <td th:text="${job.nextFireTime}"></td>
            </tr>
        </table>

    <h1> SimpleJob 추가하기 </h1>
    <form action="/api/quartz/schedule/job"
          method="POST">
        Job이름을 적어주세요<input name="jobName">
        Job의 Cron Expression을 적어주세요<input name="cronExpression">

        <button>전송하기</button>
    </form>

    <h1> SimpleJob 추가하기 </h1>
        <form action="/api/quartz/schedule/job"
              method="POST">
            <p>Job이름을 적어주세요<input name="jobName"></p>
            <p>Job의 시작일자를 적어주세요(YYYY-MM-DD HH:MM:SS)<input name="startDateAt"></p>
            <p>Job의 주기(초)를 적어주세요<input name="repeatIntervalInSeconds"></p>
            <p>Job의 반복횟수를 적어주세요<input name="repeatCount"></p>

            <button>전송하기</button>
        </form>

    <h1> Job 제거하기 </h1>
        <form action="/api/quartz/schedule/job"
              method="DELETE">
            Job이름을 적어주세요<input name="jobName">
            <button>전송하기</button>
        </form>

    <h1> Job 중지하기 </h1>
        <form action="/api/quartz/schedule/job/pause"
              method="PUT">
            Job이름을 적어주세요<input name="jobName">
            <button>전송하기</button>
        </form>

    <h1> Job 재개하기 </h1>
        <form action="/api/quartz/schedule/job/resume"
              method="PUT">
            Job이름을 적어주세요<input name="jobName">
            <button>전송하기</button>
        </form>
</body>
</html>